// AppStack
@import "app";

.box {
    width: 29%;
    height: 100%;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    z-index: 20;

    input{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        z-index: 22;

        &:checked {
            ~ {
                .boxContent{
                    &::after{
                        background: linear-gradient(to right, #4e658f, $primary);
                    }

                    h2, p{
                        background: linear-gradient(to right, #43658f, $primary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
    .boxContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        padding: 30px;
        position: relative;
        z-index: 20;
        &::before, &::after{
            content: '';
            position: absolute;
            border-radius: 10px;
        }

        &::before{
            width: 100%;
            height: 100%;
            background: rgb(255,255,255);
            box-shadow: 0 0 15px rgba(0,0,0,0.050);
            z-index: -1;

        }
        &::after{
            width: 105%;
            height: 105%;
            box-shadow: 0 0 15px rgba(0,0,0,0.050);
            z-index: -2;
        }
    }
}

.voting-accordion{
    z-index: -4;
}

.linear-grad-card{
    background: linear-gradient(to bottom, #F1DCD7, #d1b9bd);
}

.clickable-card{
    p, h2{
        &:hover{
            text-decoration: none;
        }
    }
}

.voting-categories{
    width: 350px;
    max-width: 350px;
    transition: all ease-in-out 0.5s;

    .bg-categories{
        background-color: #4e658f;
    }

    // &:hover{
    //     background-color: #4e658f;
    //     transform: scale(1.1);
        
    //     p{
    //         color: #F1DCD7;
    //     }
    // }
}   



.form-layout{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    max-width: 100%;


    .form-hero{
        // background-color: #f4f4f4;
        background-color: $primary;
        height: 100vh;
    position: fixed;
    @media(max-width: 600px){
        position: unset;
        height: auto;
    }

        img{
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        p, h1, h3, h4, ol{
            color: #c0c0c0;
            
            p{
                width: 90%;
                justify-content: center;
                display: block;
                margin: 0 auto;
            }
            li{
                margin: 0 auto;
                width: 90%;
                padding: 0.6em 0;
            }
        }

    }

    .form-content{
        position: relative;
        left: 40%;
        // overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);

        @media(max-width: 600px){
            position: unset;
            left: unset;
        }
    }
}

.MyDropzone {
    border: 2px dashed #ccc;
    padding: 20px;
  }
  
  .MyDropzoneActive {
    border: 2px dashed #000;
    background-color: #eee;
  }